{{- if .Values.createListResource }}
apiVersion: v1
kind: List
metadata:
  name: ingress-class
items:
- apiVersion: elbv2.k8s.aws/v1beta1
  kind: IngressClassParams
  metadata:
    name: {{ .Values.ingressClass }}
    labels:
      app.kubernetes.io/name: aws-load-balancer-controller
      app.kubernetes.io/managed-by: {{ .Release.Service }}
  spec:
    scheme: internet-facing
- apiVersion: networking.k8s.io/v1
  kind: IngressClass
  metadata:
    name: {{ .Values.ingressClass }}
    labels:
      app.kubernetes.io/name: aws-load-balancer-controller
      app.kubernetes.io/managed-by: {{ .Release.Service }}
  spec:
    controller: ingress.k8s.aws/alb
    parameters:
      apiGroup: elbv2.k8s.aws
      kind: IngressClassParams
      name: {{ .Values.ingressClass }}
{{- end }}
